*{
    margin: 0px;
    padding: 0px;
    font-family: 'sans-serif';
}
.alert {
    display: block;
    width: 100%;
    min-width: 1000px;
    height: 60px;
    line-height: 60px;
    color: #856404;
    background-color: #fff3cd;
}
.alert-success {
    color: #155724;
    background-color: #d4edda;
}
.alert strong {
    margin-left: 50px;
}
.close {
    float: right;
    width: 50px;
    height: 40px;
    position: relative;
    top: 8px;
    right: 30px;
    color: #c19100;
    background-color: #fff3cd;
    border: none;
}
.alert-success .close {
    color: #155724;
    background-color: #d4edda;
}
.close span {
    font-size: 30px;
}
.StudentH{
    margin: 30px 10px 10px 50px;
}
.StudentT{
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 20px;
}
.StudentS{
    display: block;
    width: 97%;
    min-width: 800px;
    height: 50px;
    padding-left: 10px;
    font-size: 1.3rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s
}
.StudentB{
    color: rgb(255, 255, 255);
    background-color: #007bff;
    border-color: #007bff;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1.4rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s;
    margin: 20px 0px;
}
.StudentMT{
    font-size: 30px;
    font-weight: 800;
}
.dataTables{
    margin: 30px 10px 10px 50px;
    font-size: 18px;
    font-weight: 400;
}
.dataTable thead tr th{
    border-top: 1px solid #ced4da;
    border-bottom: 1px solid #495057;
    padding: 10px 18px;
}
.dataTable tbody tr td {
    width: 140px;
    height: 50px;
    border-bottom: 1px solid #ced4da;
    padding: 8px 20px;
}
.dataTable tbody tr:last-child td {
    border-bottom: 1px solid #495057;
}
.btn-primary {
    color: white;
    font-size: 15px;
    width: 60px;
    height: 35px;
    border-radius: .25rem;
    background-color: #007bff;
    border-color: #007bff;
}
.btn-success{
    color: white;
    font-size: 15px;
    width: 65px;
    height: 35px;
    border-radius: .25rem;
    background-color: #28a745;
    border-color: #28a745;
    margin: 0px 30px;
}
.btn-danger {
    color: white;
    font-size: 15px;
    width: 70px;
    height: 35px;
    border-radius: .25rem;
    background-color: #dc3545;
    border-color: #dc3545;
}